html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

html a {
  text-decoration: underline;
  color: blue;
}

html a:visited {
  color: blue;
}

:root {
  --warning-color: #f7b733;         
  --warning-color-text: #4b3a00;     
}

.p-toast {
  z-index: 9999 !important;
}
